.section-background{
	background: url('../images/page-header.jpg');
}

/*=================================================
||				Past Projects
==================================================*/
.past-projects .project-list{
	max-width: 900px;
	margin: 0 auto;
}
.project-entry{
	border-bottom: 1px solid #e5e5e5;
}
.project-entry:first-child{
	border-top: 1px solid #e5e5e5;
}
.project-toggle{
	display: block;
	position: relative;
	padding: 16px 40px 16px 0;
	text-decoration: none;
}
.project-toggle:hover,
.project-toggle:focus{
	text-decoration: none;
}
.project-toggle:after{
	content: '+';
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -14px;
	font-size: 24px;
	font-weight: 300;
	color: #4a148c;
}
.project-toggle:not(.collapsed):after{
	content: '\2013';
}
.project-title{
	display: block;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #313131;
}
.project-client{
	display: block;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	color: #999;
	letter-spacing: .39px;
	margin-top: 2px;
}
.project-desc{
	font-size: 14px;
	font-weight: 300;
	color: #999;
	letter-spacing: .39px;
	padding: 0 40px 20px 0;
	margin: 0;
}